body {
  --color-primary: #009579;
  --color-primary-dark: 007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: 4bb544;
  --border-radius: 4px;
  margin: 0;
  padding: 5px;
  height: 100vh;
  font-size: 18px;
}

p, h1, big {

  text-align: bottom;
  font-size: 60px;
  margin-top: 0px;
  font: 500 1.5rem 'Merriweather', serif;
}

.container,
.form__input,
.form__button {
  font: 500 1.5rem 'Merriweather', serif;
}

.back-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form--hidden {
  display: none;
}

.form>*:first-child {
  margin-top: 0;
}

.form>*:last-child {
  margin-top: 0;
}

.form__message {
  margin-bottom: 2rem;
  text-align: center;
}

.form__title {
  text-align: center
}

.form__message {
  text-align: left;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success)
}

.form__message--error {
  color: var(--color-error)
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  ;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error)
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  color: var(--color-error);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;

}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40D3DC;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}

#radio5:checked~.first {
  margin-left: -80%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: #40D3DC
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: #40D3DC
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: #40D3DC
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background: #40D3DC
}

#radio5:checked~.navigation-auto .auto-btn5 {
  background: #40D3DC
}
